In [32]:
import pandas as pd

In [33]:
df=pd.read_csv('India Census 2011.csv')

In [34]:
df.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

In [35]:
df.tail()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

In [36]:
df.shape

(640, 25)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District_code         640 non-null    int64
 1   State_name            640 non-null    object
 2   District_name         640 non-null    object
 3   Population            640 non-null    int64
 4   Male                  640 non-null    int64
 5   Female                640 non-null    int64
 6   Literate              640 non-null    int64
 7   Workers               640 non-null    int64
 8   Male_Workers          640 non-null    int64
 9   Female_Workers        640 non-null    int64
 10  Cultivator_Workers    640 non-null    int64
 11  Agricultural_Workers  640 non-null    int64
 12  Household_Workers     640 non-null    int64
 13  Hindus                640 non-null    int64
 14  Muslims               640 non-null    int64
 15  Christians            640 non-null    int64
 16  Sikhs                 640 non-null    int64
 17  Buddhists             640 non-null    int64
 18  Jains                 640 non-null    int64
 19  Secondary_Education   640 non-null    int64
 20  Higher_Education      640 non-null    int64
 21  Graduate_Education    640 non-null    int64
 22  Age_Group_0_29        640 non-null    int64
 23  Age_Group_30_49       640 non-null    int64
 24  Age_Group_50          640 non-null    int64
dtypes: int64(23), object(2)
memory usage: 125.1+ KB

In [38]:
df.describe()

,District_code,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,Agricultural_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
count,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,...,6.400000e+02,6.400000e+02,640.000000,640.000000,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02,6.400000e+02
mean,320.500000,1.891961e+06,9.738598e+05,9.181011e+05,1.193186e+06,7.529514e+05,5.186561e+05,2.342953e+05,1.856387e+05,2.255513e+05,...,4.346811e+04,3.255174e+04,13192.143750,6955.864062,2.051046e+05,1.241736e+05,1.090132e+05,1.102826e+06,4.820189e+05,3.001005e+05
std,184.896367,1.544380e+06,8.007785e+05,7.449864e+05,1.068583e+06,6.071622e+05,4.412388e+05,1.913541e+05,1.514895e+05,2.216222e+05,...,1.087273e+05,1.603859e+05,56347.946567,23624.010655,2.164778e+05,1.304154e+05,1.502260e+05,8.887434e+05,4.183230e+05,2.549556e+05
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,3.555000e+03,2.228000e+03,1.327000e+03,0.000000e+00,0.000000e+00,...,1.710000e+02,3.000000e+00,1.000000,0.000000,8.090000e+02,6.560000e+02,3.560000e+02,5.113000e+03,2.088000e+03,7.860000e+02
25%,160.750000,8.178610e+05,4.171682e+05,4.017458e+05,4.825982e+05,3.284688e+05,2.294168e+05,9.420350e+04,7.491025e+04,5.284175e+04,...,1.951750e+03,2.537500e+02,163.750000,124.750000,7.078575e+04,4.234700e+04,2.799200e+04,4.786540e+05,2.101965e+05,1.193285e+05
50%,320.500000,1.557367e+06,7.986815e+05,7.589200e+05,9.573465e+05,6.223410e+05,4.288515e+05,1.929265e+05,1.501250e+05,1.645300e+05,...,6.079500e+03,7.375000e+02,372.000000,741.000000,1.523325e+05,8.998700e+04,6.624350e+04,8.896820e+05,3.905085e+05,2.421020e+05
75%,480.250000,2.583551e+06,1.338604e+06,1.264277e+06,1.602260e+06,1.036544e+06,6.991510e+05,3.163658e+05,2.553015e+05,3.258982e+05,...,2.750850e+04,2.800000e+03,1942.500000,4150.750000,2.629160e+05,1.583555e+05,1.299488e+05,1.491204e+06,6.525142e+05,4.045875e+05
max,640.000000,1.106015e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.492767e+06,3.363123e+06,1.239177e+06,1.013050e+06,1.227956e+06,...,1.248137e+06,1.863408e+06,668050.000000,343639.000000,2.018079e+06,1.196965e+06,1.733274e+06,6.184519e+06,3.241888e+06,1.921143e+06

In [39]:
high_pop=df.sort_values(by='Population' ,ascending=False).head(10)
high_pop

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
516,517,MAHARASHTRA,Thane,11060148,5865078,5195070,8227161,4492767,3363123,1129644,...,280700,39149,449617,172052,1751284,1080597,961719,6184519,3241888,1579921
336,337,WEST BENGAL,North Twenty Four Parganas,10009781,5119389,4890392,7608693,3571624,2945189,626435,...,26933,9394,5818,4452,989053,670977,852923,5104876,2968996,1921143
571,572,KARNATAKA,Bangalore,9621551,5022661,4598890,7512276,4246927,3115361,1131566,...,504863,13254,5531,83090,2018079,1196965,1733274,5275666,2909575,1424195
520,521,MAHARASHTRA,Pune,9429408,4924105,4505303,7171723,4048993,2809816,1239177,...,134192,27090,340404,127786,1414563,867256,1086650,5184734,2624165,1586132
517,518,MAHARASHTRA,Mumbai Suburban,9356962,5031323,4325639,7575485,3735021,2944322,790699,...,322476,47288,469568,343639,1914168,1091433,1183117,4936360,2812001,1575566
342,343,WEST BENGAL,South Twenty Four Parganas,8161961,4173778,3988183,5531657,2964494,2356571,607923,...,66498,2783,2494,972,564417,316571,322157,4763943,2151474,1235558
334,335,WEST BENGAL,Barddhaman,7717563,3966889,3750674,5247208,2911251,2293083,618168,...,21220,16675,1602,1674,698251,405935,439823,4149420,2265543,1292913
473,474,GUJARAT,Ahmadabad,7214225,3788051,3426174,5435760,2594952,2127547,467405,...,50754,14542,4518,209287,1135058,549188,839295,3952858,2043895,1198152
332,333,WEST BENGAL,Murshidabad,7103807,3627564,3476243,4055834,2589907,1985667,604240,...,18102,766,348,3037,443254,230242,170051,4390564,1717594,991413
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057

In [40]:
df['literacy_rate']=(df['Literate']/df['Population'])*100
lit_rate=df[['State_name','District_name','Population','literacy_rate']]
lit_rate=lit_rate.sort_values(by='literacy_rate',ascending=False)
lit_rate.head(10)

      State_name   District_name  Population  literacy_rate
598       KERALA  Pathanamthitta     1197412      88.737460
596       KERALA        Kottayam     1974551      88.617514
635  PONDICHERRY            Mahe       41816      87.215420
597       KERALA       Alappuzha     2127789      87.076162
594       KERALA       Ernakulam     3282388      86.999952
593       KERALA        Thrissur     3121200      85.817891
282      MIZORAM          Aizawl      400309      85.083023
599       KERALA          Kollam     2635375      85.007750
588       KERALA          Kannur     2523003      84.757489
590       KERALA       Kozhikode     3086293      84.743833

In [51]:
df['gender_ratio'] = (df['Female'] / df['Male']) * 1000
gen_ratio=df[['State_name','District_name','Female','Male' ,'gender_ratio']]
gen_ratio.sort_values(by="gender_ratio",ascending=False)

,State_name,District_name,Female,Male,gender_ratio
635,PONDICHERRY,Mahe,22673,19143,1184.401609
63,UTTARAKHAND,Almora,331425,291081,1138.600596
588,KERALA,Kannur,1341557,1181446,1135.521217
598,KERALA,Pathanamthitta,635696,561716,1131.703566
527,MAHARASHTRA,Ratnagiri,853948,761121,1121.960897
...,...,...,...,...,...
495,DADRA AND NAGAR HAVELI,Dadra AND Nagar Haveli,149949,193760,773.890380
240,SIKKIM,North District,18979,24730,767.448443
244,ARUNACHAL PRADESH,Tawang,20826,29151,714.418030
2,JAMMU AND KASHMIR,Leh(Ladakh),54516,78971,690.329361
494,DAMAN AND DIU,Daman,66514,124659,533.567572